# Logs
logs
*.log

# Dependency directories
node_modules
packages/*/node_modules

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn/install-state.gz

# dotenv environment variables file
.env

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!.vscode
